@media screen and (min-width: 1200px) {
    #card-grid {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
    #card-grid {
        grid-template-columns: auto auto;
    }
}

body {
    width: 70vw;
    margin: 20px auto;
}

#card-grid {
    display: grid;
    column-gap: 40px;
    row-gap: 40px;
}

#card-grid div {
    width: 100% !important;
}

.img-header {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    margin: 40px 0px;
}

.img-header img {
    width: 100%;
    border: grey 1px solid;
}

.navbar img {
    height: 80px;
}