body {
    width: 70vw;
    margin: 20px auto;
}

#card-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.img-header {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    margin: 40px 0px;
}

.img-header img {
    width: 100%;
    border: grey 1px solid;
}