@media screen and (min-width: 1200px) {
    #card-grid, .gallery-grid {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
    #card-grid, .gallery-grid {
        grid-template-columns: auto auto;
    }
}

body {
    width: 70vw;
    margin: 20px auto;
}

#card-grid, .gallery-grid {
    display: grid;
    column-gap: 40px;
    row-gap: 40px;
}

#card-grid div {
    width: 100% !important;
}

.img-header {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    margin: 40px 0px;
}

.img-header img {
    width: 100%;
    border: grey 1px solid;
}

.navbar img {
    height: 80px;
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image to responsive */
  .image {
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: .3s ease;
  }
  
  /* When you mouse over the container, the overlay text will "zoom" in display */
  .container:hover {
    transform: scale(3);
  }